/* 基本配置 */
.gameScene{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.Game1{
  display: flex;
}

.container .sideInfos{
  margin: 100px auto;
}

.container {
  width: 550px;
  height: 700px;
}

.sideInfos {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 200px;
  height: 700px;
}

.Cnext{
  height: 320px;
}

.Cscore{
  background-color: rgba(0, 0, 255, 0.3);
  margin-top: 100px; 
  width: 200px;
  height: 200px;
}

/* Next */
.next-container {
  display: flex;
  flex-direction: column;
}

.window {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 255, 1);
  background-color: rgba(0, 0, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
}

.window.large {
  width: 100px;
  height: 100px;
}

.bubble {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.bubble.hidden {
  display: none;
}


/*
.Cgauge {
  position: relative;
  transform: translate(1580px, -810px);
}
*/