.main {

    display: flex;
    align-items: center;

    position: relative;
    outline: none;

    /* 垂直方向に配置 */
    flex-direction: column;


    /* 下側に配置 */
    justify-content: flex-end;
    /* 画面の高さいっぱいに広げる */
    height: 80vh;




}

.start button {
    display: inline-block;
   
    

}

.matchingText {
    color: beige;
    font-size: 80px;
    
    text-align: center;
    margin-bottom: 5%;



}


.hidden {
    display: none;
}



body {
    background: url('bgimg_test.png');
    /* マージンをリセット */
    margin: 0;

    /* 画面外のスクロールを無効にする */
    overflow: hidden;


}