
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url('bgimg_test.png');
    
}
.example button{
    display: block;
   
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    width: 20%;
    text-align: center;
}

.matching h1{
    color: beige;
    text-align: center;
}


.hidden {
    display:none;
}

/*
body{
    background: url('bgimg_test.png');
}
*/